<h1>Media Library</h1>
{{#if user}}
    <a href="/media/create">Add New Media</a>
{{/if}}
<ul class="row">
    {{#each media}}
        <li class="card mb-4 text-center">
            <h5>{{this.title}}</h5>
            <p>{{this.releaseYear}}</p>
            <p>{{this.provider}}</p>
            <p>{{this.status}}</p>
            <p>{{this.username}}</p>
            {{!-- ../ allows us to access/reference variables outside the scope of the block we are in (in this case media) --}}
            {{#if ../user}}
            <a href="/media/delete/{{this._id}}" class="btn btn-primary"
                onClick="return confirm('fr??')">
                Delete
            </a>
            <a href="/media/edit/{{this._id}}" class="btn btn-primary">
                Edit
            </a>
            {{/if}}
        </li>
    {{/each}}
</ul>